@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

p {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 1px;
  font-size: 20px;
  font-family: "system-ui", cursive;
  font-weight: bold;
  position: relative;
  width: 100%;
  background: linear-gradient(to right, black, #eee, black);
  white-space: nowrap;
}
p::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -50px;
  width: 600px;
  margin-left: -300px;
  margin-top: -220px;
  height: 600px;
  background: radial-gradient(ellipse closest-side, #444, black);
  z-index: -1;
}
p a {
  background: black;
  display: block;
  padding: 20px;
  text-decoration: none;
  letter-spacing: 30px;
  color: white;
  animation: comein 1.5s 1 ease-in-out forwards;
}

@keyframes comein {
  0% {
    letter-spacing: 80px;
    color: rgba(255, 255, 255, 0);
  }
  70% {
    letter-spacing: 5px;
  }
  100% {
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 1);
  }
}
