{% extends "base.html" %}

{% block content %}
    <div class="card-wrapper">

        <div class="card">

            <h1 class="center">Change your password {{ var['name'] }}</h1>

            <form name="changepassword_form">

                <label for="password">New Password</label>
                <input type="text" name="password" class="field" required>

                <label for="verifypassword">Verify Password</label>
                <input type="text" name="verifypassword" class="field" required>

                <p class="error error--hidden"></p>

                <input type="submit" value="Reset" class="btn">

            </form>

        </div>



    </div>
{% endblock %}